<div class="row-fluid">
	<div class="span8">
		<div class="hero-unit">
			<h1>Welcome to PiVote!</h1>
			<p>We have cookies.</p>
			<p>
				{{#linkTo 'help' class="btn btn-primary btn-large"}}Learn more{{/linkTo}}
			</p>
		</div>
	</div>
	<div class="span3 offset1 well-large">
		<h2>News</h2>
		<div>
			<span class="label label-warning">Warnung</span> Bitte immer ausloggen!
		</div>
		<div>
			<span class="label label-info">Info</span> PiVote (the next generation :)) ist in Entwicklung!
		</div>
	</div>
</div>
